MD. NAYAN ISLAM
Jr. Full Stack Developer
Vill: Baropakhia, P.O: Dhopapara(6260), P.S: Puthia, Dist: Rajshahi
Mobile No: 01750639637
Email : nayanislam085@gmail.com

29 Dec, 2022

 Wizard Software & Technology Bangladesh Ltd

Subject: Applying for Intern Laravel Developer.

Dear Hiring Manager,

As a recent graduate from Varendra University, Rajshahi with a Bachelor of Science in Electrical, Electronics Engineering, I am extremely interested in the Intern Laravel Developer  Wizard Software & Technology Bangladesh Ltd. After reviewing the key qualifications for this role, I am confident that I am well-prepared to be a valuable contributor to company growth and success.
My attached resume outlines all that I could offer your organization. Here's the overview:

Through my academic journey, I applied a strong focus on building my programming and WEb development abilities. I am detail-oriented and meticulous when managing competing priorities within tight deadlines. I work best in roles where utilizing software engineering allows me to make a positive impact while using creative problem-solving to resolve issues and achieve goals.

My academic strengths have greatly contributed to the development of my time-management, teamwork and problem-solving skills. I bring clear and effective communicating to build professional connections with co-workers, management and customers. I would welcome the opportunity to further discuss the details of my experience and attributes which I believe will be an asset to the  Wizard Software & Technology Bangladesh Ltd team. Please review my attached resume for additional insight into my background. Thank you for your time and consideration.


Sincerely,
Md Nayan Islam
